- title "Gorgeous Lab Course Management"

#home
  %iframe.left{ :src => "http://graph.tk/?y=sin(x)", :frameborder => '0', :style => "border:5px solid #eeeeee;" }
  .left.pads
    %h3.l-pads Gorgeous lab course management
    %ul
      %li.manual Living, breathing, multimedia lab manuals
      %li.student Student-friendly lab report interface
      %li.chart Built-in equation editor, graph generator and more
      %li.clock Admin area to set due dates and track progress
      %li.check Comment, grade and return confidentially!
  .clear
