.kb-nav.border.greydient.no-corners
  %ul
    %li.left.no-left-corners= no_current_link "Experiment Details", [:new, :admin, @course, :knotebook]
    %li.left.no-link= "Edit Lab Manual"
    %li.left.no-link= "Edit Report Outline"
    %li.no-right-corners.right.no-link= "Publish"
  .clear
